:root {
    --shadcn-background: #ffffff;
    --shadcn-foreground: #171717;
    --shadcn-card: #ffffff;
    --shadcn-card-foreground: #171717;
    --shadcn-popover: #ffffff;
    --shadcn-popover-foreground: #171717;
    --shadcn-primary: #343434;
    --shadcn-primary-foreground: #fafafa;
    --shadcn-secondary: #f5f5f5;
    --shadcn-secondary-foreground: #171717;
    --shadcn-muted: #f5f5f5;
    --shadcn-muted-foreground: #666666;
    --shadcn-accent: #f5f5f5;
    --shadcn-accent-foreground: #171717;
    --shadcn-destructive: #e7000b;
    --shadcn-destructive-foreground: #ffffff;
    --shadcn-border: #e5e5e5;
    --shadcn-input: #e5e5e5;
    --shadcn-ring: #ababab;
}

.theme-dark {
    --shadcn-background: #171717;
    --shadcn-foreground: #fafafa;
    --shadcn-card: #262626;
    --shadcn-card-foreground: #fafafa;
    --shadcn-popover: #262626;
    --shadcn-popover-foreground: #fafafa;
    --shadcn-primary: #e5e5e5;
    --shadcn-primary-foreground: #262626;
    --shadcn-secondary: #404040;
    --shadcn-secondary-foreground: #fafafa;
    --shadcn-muted: #404040;
    --shadcn-muted-foreground: #ababab;
    --shadcn-accent: #404040;
    --shadcn-accent-foreground: #fafafa;
    --shadcn-destructive: #ff6467;
    --shadcn-destructive-foreground: #171717;
    --shadcn-border: #ffffff1a;
    --shadcn-input: #ffffff1a;
    --shadcn-ring: #737373;
}
